@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg #3c3836;
@define-color light #D5C4A1;
/*#@define-color dark #2e3440;*/
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
/* #@define-color workspaces @bg; */
/* #@define-color workspacesfocused #434C5E; */
/* #@define-color tray @workspacesfocused; */
@define-color highlight #3c3836;
/* #@define-color sound #46536A; */
/* #@define-color network #5D7096; */
/* #@define-color memory #546484; */
/* #@define-color cpu #596A8D; */
/* #@define-color temp #4D5C78; */
/* #@define-color layout #5e81ac; */
/* #@define-color battery #88c0d0; */
/* #@define-color date #2e3440; */
/* #@define-color time #3A4253; */
/* #@define-color backlight #3F495D; */
@define-color green #608787;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right:5px;
    background: @highlight;
}

/* The whole bar */
#waybar {
    color: @light;
    font-family: Hack;
    font-size: 14px;
    font-weight: normal;
    padding-left:0;
    padding-right:0;
}

/* Each module */
#idle_inhibitor,
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray,
#language,
#backlight {
    padding-left: 10px;
    padding-right: 10px;
    background:@highlight;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */

#workspaces {
    margin-right: 10px;
    margin-left: 0;
}


#workspaces button {
	font-weight: normal; /* Somewhy the bar-wide setting is ignored*/
	padding-left: 2px;
	padding-right: 2px;
	color: @light;
	background: @highlight;
}

#workspaces button.focused {
    color: @green;
    font-weight:bold
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}
