configuration {
    font: "VictorMono Nerd Font SemiBold 10";
    icon-theme: "Whitesur-dark";
    show-icons: true;

    disable-history: false;
    display-drun: "λ";
    drun-display-format: "{name}";
    location: 0;
    sidebar-mode: false;

    terminal: "kitty";
    xoffset: 0;
    yoffset: 0;
}

@theme "./themes/ribbon-left"
