.monitor0Bar {
    background-color: rgb(69, 71, 90, 0);
    color: #cdd6f4;
    font-style: italic;
    font-weight: bolder;
}

.monitor1Bar {
    background-color: rgb(69, 71, 90, 0);
    color: #cdd6f4;
    font-style: italic;
    font-weight: bolder;
}

.inner-box {
    padding: 4px;
}