.graphBox {
	background-color: #1e1e2e;
	border-radius: 10px;
	padding: 5px;
}

.cpuGraph {
	color: #f38ba8;
	background-color: #f38ba8;
}

.memGraph {
	color: #89b4fa;
	background-color: #89b4fa;
}

.netGraph {
	color: #f9e2af;
	background-color: #f9e2af;
}