.workspace {
    background-color: #1e1e2e;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 6px;
}

.focusedWorkspace {
    background-color: #11111b;
    border-radius: 10px;
    color: #a6e3a1;
    padding-left: 4px;
    padding-right: 6px;
}