.taffy-window * {
    color: @bar-foreground;
    font-family: "VictorMono Nerd Font";
    font-size: 12px;
    font-style: italic; 
    font-weight: 900;
}

.taffy-box {
    background-color: @bar-background;
    padding: 3px;
}

.contents { 
    background-color: @widget-background;
    border-radius: 9px;
    margin: 0px 3px 0px 3px;
    padding: 8px;
}

.active .contents {
    background-color: @bar-foreground;
}

.workspace-label {
    color: @bar-foreground;
    padding: 7px;
}

.active .workspace-label {
    color: @bar-foreground;
}

.no-visible-children * {
    background-color: @button-background;
}
