@import url("icy-palette.css");
@define-color transparent rgba(0.0, 0.0, 0.0, 0.0);
@define-color black #000000;
@define-color white #FFFFFF;

/* Top Level Styling */

.taffy-window * {
	font-family: "Iosevka SemiBold", sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: @font-color;
}

.taffy-box {
	background-color: @bar-background;
}


.inner-pad {
	background-color: @raisin-black;
	border-radius: 8px;
	padding: 6px;
	margin: 4px;
	transition: background-color .5s;
	opacity: 1;
}

.contents {
	transition: background-color .5s;
	opacity: 1;
}

/* Workspaces Styling */

.workspaces .inner-pad {
	box-shadow: none;
	border-width: 0;
}

.workspaces .contents {
	box-shadow: none;
}

.workspace-label {
	padding-right: 5px;
	padding-left: 3px;
	padding-top: 0px;
	font-size: 10pt;
	color: @twilight-blue;
	opacity: 1;
	font-weight: bold;
	transition: color .5s;
}

.active .workspace-label {
	color: @transparent;/* @taffy-raisin-black */
}

.contents .window-icon {
	border-width: 1px;
}

.active .contents .window-icon {
	opacity: 1;
}

.active .inner-pad {
	background-color: @twilight-blue;
	opacity: 1;
}

.overlay-box {
	transition: background-color .5s;
}

.active .overlay-box {
	padding: 0px;
	border-color: @white;
	border-width: 3px;
	opacity: 1;
}

.visible .contents {
	border-color: @white;
}

.window-icon-container {
	transition: opacity .5s, box-shadow .5s;
	opacity: 1;
	border-radius: 5px;
	transition: background-color 1s;
}

/* This gives space for the box-shadow (they look like underlines) that follow.
   This will actually affect all widgets, (not just the workspace icons), but
   that is what we want since we want the icons to look the same. */

.auto-size-image, .sni-tray  {
	padding: 1px;
}

.window-icon-container.active {
	background-color: rgba(26, 27, 37, 0.4);
}

.window-icon-container.urgent {
}

.window-icon-container.minimized .window-icon {
	opacity: .3;
}

.window-icon {
	opacity: 1;
	transition: opacity .5s;
}

/* Widget Styling */

.no-visible-children * {
	background-color: @transparent;
}

/* Button Styling */

button {
	all: initial;
	background-color: @transparent;
	border-width: 0px;
	border-radius: 0px;
}

button:checked, button:hover .Contents:hover {
	box-shadow: inset 0 -3px @raisin-black;
}

/* Menu Styling */

/* The ".taffy-window" prefixed selectors are needed because if they aren't present, the top level .Taffybar selector takes precedence */

.taffy-window menuitem *,  menuitem * {
	color: @menu-font-color;
}

.taffy-window menuitem, menuitem {
	background-color: @menu-background-color;
}

.taffy-window menuitem:hover, menuitem:hover {
	background-color: @raisin-black;
}

.taffy-window menuitem:hover > label, menuitem:hover > label {
	color: @white;
}
