/* 1.3.0
- Truncated https:// from URL's
- Added option to hide all URLbar buttons
- Added option to not center the URLbar on focus
- Fix being unable to drag tab in single-tab (oops)
*/

#navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    position: relative !important;
    padding-left: var(--tab-block-margin);
}


/* Hide flexible spaces */
toolbarspring,
[id^="wrapper-customizableui-special-spring"] {
    display: none !important;
}


/* Tabs */
#titlebar {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
}
#toolbar-menubar[inactive="true"] { /* Prevent duplicate window controls */
    display: none !important;
}
#TabsToolbar {
    display: flex !important;
    align-items: center;
}
.toolbar-items {
    flex-grow: 1 !important;
}
#TabsToolbar-customization-target {
    display: flex !important;
    margin-block: auto !important;
    align-items: center;
}
#tabbrowser-tabs {
    overflow: hidden !important;
    width: 0 !important;
    flex: 1 !important;
}
.tabbrowser-tab {
    min-height: calc(var(--tab-min-height) - 2px) !important;
}
.tab-background { /* Just thought it looked nicer */
    margin-block: calc(2px + var(--tab-block-margin)) !important;
    box-shadow: none !important;
    transition: background-color .2s;
}


/* Navigation buttons */
@supports -moz-bool-pref("onebar.hide-navigation-buttons") {
    #back-button, #forward-button {
        display: none !important;
    }
}
@supports not -moz-bool-pref("onebar.hide-navigation-buttons") {
    #urlbar-container ~ :is(#back-button, #forward-button) {
        display: none !important;
    }
    /* In the customize menu */
    :is(#wrapper-back-button, #wrapper-forward-button) {
        opacity: 1 !important;
    }
    #wrapper-urlbar-container ~ :is(#wrapper-back-button, #wrapper-forward-button) {
        opacity: .5 !important;
    }

    /* Add note in customize menu for nav buttons */
    #customization-header::after {
        content: "To hide the back & forward buttons, simply drag them to the right of the URL bar";
        background-color: blue;
        color: white;
        border-radius: 4px;
        padding: .4em .7em;
        margin-top: 1em;
        display: block;
        width: max-content;
    }
    :root[customizing] .urlbar-input-box {
        visibility: visible !important;
    }
    :root[customizing] .urlbar-input-box::before {
        content: "https://";
        margin-block: auto;
    }
    :root[customizing] #urlbar-input {
        display: none !important;
    }
}





/* Single Tab, *properties* also copy & pasted into "Small Window Fixes" */
@supports not -moz-bool-pref("onebar.disable-single-tab") {
    #titlebar #tabbrowser-tabs .tabbrowser-tab:only-of-type {
        width: max-content !important;
        -moz-box-flex: 0 !important;
        max-width: unset !important;
        margin-inline-end: auto !important;
        --toolbar-bgcolor: transparent !important;
        --tab-selected-bgimage: transparent !important;
    }
    .tabbrowser-tab:only-of-type .tab-text {
        font-weight: 600 !important;
    }
    .tabbrowser-tab:only-of-type .tab-close-button,
    .tabbrowser-tab:only-of-type .tab-background,
    #tabbrowser-tabs:not([closebuttons="activetab"]) ~ #alltabs-button {
        display: none !important;
    }
}



/* Match button sizes to toolbar buttons */
#TabsToolbar {
    --toolbarbutton-inner-padding: 8px !important;
}
#TabsToolbar toolbarbutton {
    margin: 0 !important;
}


#alltabs-button {
    order: -1;
}
.titlebar-buttonbox-container {
    order: -100 !important;
}

/* Toolbar */
#nav-bar {
    background: none !important;
    /* Set max-width so the tabs list dropdown isn't hidden */
    max-width: calc(100vw - ((2 * var(--toolbarbutton-inner-padding) + 16px) + (var(--toolbarbutton-outer-padding) * 2)) - var(--tab-block-margin)) !important;
    position: static !important;
}
#urlbar-container {
    min-width: 200px !important;
    z-index: 10;
    transition: background-color .2s, width .2s, min-width .2s;
    position: static !important;
}
#urlbar {
    position: relative !important;
    top: unset !important;
}
#urlbar[breakout-extend] {
    position: absolute !important;
    inset-inline: 20vw !important;
    width: unset !important;
}
@supports -moz-bool-pref("onebar.disable-centering-of-URLbar") {
    #urlbar-container {
        position: relative !important;
    }
    #urlbar[breakout-extend] {
        /* width: 100% !important; */
        inset-inline: 0 !important;
    }
    #urlbar[breakout-extend] .urlbar-input-box {
        min-width: 400px !important;
    }
}
#urlbar-input-container {
    display: flex !important;
}
#urlbar-input-container > :not(.urlbar-input-box) {
    order: 2;
}
.urlbar-input-box {
    flex-grow: 1 !important;
    padding-left: .5em !important;
    width: 100px !important;
    min-width: 50px !important;
    transition: width .2s;
}
#urlbar-container:focus-within, #urlbar-container:hover {
    min-width: 300px !important;
}
#urlbar-input:not(:focus-within) {
    mask: linear-gradient(to right, black calc(100% - 20px), transparent);
}
#urlbar-background {
    transition: border .2s;
}
#urlbar:hover:not([focused="true"]) > #urlbar-background {
    --toolbar-field-border-color: var(--toolbar-field-focus-border-color)
}

/* Truncate https:// when collapsed */
@supports not -moz-bool-pref("onebar.disable-https-truncate") {
    #urlbar-input {
        transition: margin .1s;
    }
    .verifiedDomain ~ .urlbar-input-box:not(:focus-within) #urlbar-input {
        margin-left: -4ch !important;
        mask: linear-gradient(to right, transparent 4ch, black 5ch calc(100% - 3ch), transparent) !important;
    }
}

/* Hide unimportant buttons until hover */
:root {
    --in-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .2s .15s;
    --out-transition: font-size .2s, padding .2s, margin .2s, max-width .2s, opacity .07s;
}
#urlbar-container:hover #urlbar-input-container > box:not(#page-action-buttons),
#urlbar-container:hover #page-action-buttons > *,
#urlbar-container:hover #userContext-label {
    transition: var(--in-transition) !important;
    max-width: 200px;
}
@supports -moz-bool-pref("onebar.disable-autohide-of-URLbar-icons") {
    #urlbar-container {
        min-width: 300px !important;
    }
}
@supports not -moz-bool-pref("onebar.disable-autohide-of-URLbar-icons") {
    #urlbar-container:not(:hover) :where(
        toolbarbutton,
        #userContext-label,
        #star-button-box,
        .verifiedDomain,
        #tracking-protection-icon-container,
        #pageAction-urlbar-_testpilot-containers,
        #pageActionButton,
    ) {
        font-size: 0 !important;
        max-width: 0 !important;
        padding-inline: 0 !important;
        margin-inline: 0 !important;
        opacity: 0 !important;
        transition: var(--out-transition) !important;
    }
    @supports -moz-bool-pref("onebar.hide-all-URLbar-icons") {
        #urlbar-container:not(:hover) :where(#page-action-buttons, #identity-box) > * {
            font-size: 0 !important;
            max-width: 0 !important;
            padding-inline: 0 !important;
            margin-inline: 0 !important;
            opacity: 0 !important;
            transition: var(--out-transition) !important;
        }
    }
}
#navigator-toolbox-background #urlbar-container:focus-within #urlbar-input-container > box,
#navigator-toolbox-background #urlbar-container:focus-within #page-action-buttons > * {
    font-size: 0 !important;
    max-width: 0 !important;
    padding-inline: 0 !important;
    margin-inline: 0 !important;
    opacity: 0 !important;
    transition: var(--out-transition) !important;
}

/* Other Buttons */

.toolbarbutton-icon {
    transition: background-color .1s;
}

#nav-bar #search-container {
    min-width: 32px !important;
    transition: min-width .2s;
}

.titlebar-spacer,
#identity-icon-label {
    display: none;
}

/* Wrap other toolbars to bottom */
#nav-bar ~ * {
    width: 100vw !important;
}





/* Linux fixes, credits: https://github.com/ranmaru22/firefox-vertical-tabs/pull/39 */

@media (-moz-gtk-csd-available) {
    /* window control padding values (these don't change the size of the actual buttons, only the padding for the navbar) */
    :root[tabsintitlebar] {
        /* default button/padding size based on adw-gtk3 theme */
        --uc-win-ctrl-btn-width: 38px;
        --uc-win-ctrl-padding: 12px;
    }

    :root[tabsintitlebar][lwtheme] {
        /* seperate values for when using a theme, based on the Firefox defaults */
        --uc-win-ctrl-btn-width: 30px;
        --uc-win-ctrl-padding: 12px;
    }
    
    /* setting the padding value for all button combinations */
    @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
        #navigator-toolbox {
            --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 1);
        }
    }
    
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
        #navigator-toolbox {
            --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 2);
        }
    }
    
    @media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
        #navigator-toolbox {
            --uc-navbar-padding: calc(var(--uc-win-ctrl-btn-width) * 3);
        }
    }

    /* only applies padding/positioning if there is 1 or more buttons */
    @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
        /* window controls on the right */
        @media not (-moz-gtk-csd-reversed-placement) {
            #nav-bar {
                padding-right: calc(var(--uc-navbar-padding, 0) + var(--uc-win-ctrl-padding)) !important;
            }
            .titlebar-buttonbox-container {
                right: 0;
                position: absolute;
                display: block;
                z-index: 101;
            }
            .toolbar-items {
                max-width: calc(100vw - ((2 * var(--toolbarbutton-inner-padding) + 16px) + (var(--toolbarbutton-outer-padding) * 2)) - var(--tab-block-margin)) !important;
            }
        }
        
        
    }
}

/* Windows OS Fixes */
@media (-moz-platform: windows-win10), (-moz-platform: windows-win11) /* I don't actually know if it's -win11 or not, but I hope it is. */ {
    :root[tabsintitlebar]{
        --uc-window-control-width: 137px;
        --uc-win-ctrl-padding: 12px;
    }

    #nav-bar {
        padding-right: calc(var(--uc-window-control-width) + var(--uc-win-ctrl-padding)) !important;
    }
    .titlebar-buttonbox-container {
        top: 0 !important;
        right: 0 !important;
        height: calc(var(--tab-min-height) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding));
        position: fixed !important;
        z-index: 101 !important;
    }
    .toolbar-items {
        max-width: calc(100vw - var(--uc-window-control-width)) !important;
    }

    /* Hide window buttons in fullscreen */
    #navigator-toolbox[style*="margin-top: -"] .titlebar-buttonbox-container,
    [inDOMFullscreen="true"] .titlebar-buttonbox-container {
        transform: translateY(-100px)
    }

}

/* Small window */

@media (max-width: 700px) {
    #nav-bar {
        width: 100% !important;
    }

    @media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
        @media (-moz-gtk-csd-reversed-placement) {
            #nav-bar {
                max-width: calc(100vw - ((2 * var(--toolbarbutton-inner-padding) + 16px) + (var(--toolbarbutton-outer-padding) * 2)) - var(--tab-block-margin)
                            - (var(--uc-navbar-padding, 0) + var(--uc-win-ctrl-padding))) !important;
            }
        }
    }

    #TabsToolbar {
        width: 100vw;
    }
    #titlebar {
        overflow: visible !important;
    }
    #tabbrowser-tabs {
        padding-inline: 0 !important;
    }
    #tabbrowser-tabs, #nav-bar {
        transition: opacity .2s !important;
    }
    #navigator-toolbox:hover #tabbrowser-tabs,
    #navigator-toolbox:focus-within #tabbrowser-tabs {
        opacity: 0;
    }
    #navigator-toolbox:hover #nav-bar,
    #navigator-toolbox:focus-within #nav-bar {
        z-index: 2 !important;
    }
    #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
        opacity: 0;
    }
    #TabsToolbar-customization-target:first-of-type > :not(#alltabs-button):not(#tabbrowser-tabs),
    #tabbrowser-arrowscrollbox > :not(.tabbrowser-tab) {
        display: none !important;
    }
    #navigator-toolbox #tabbrowser-tabs ~ #alltabs-button {
        display: -moz-box !important;
    }
    #scrollbutton-up,
    #scrollbutton-down {
        display: none !important;
    }

    #navigator-toolbox :is(#urlbar, #urlbar-container) {
        min-width: unset !important;
    }
    #urlbar[breakout-extend] {
        inset-inline: 15px !important;
        z-index: 102 !important;
    }

    /* Single Tab styling */
    #titlebar #tabbrowser-tabs .tabbrowser-tab {
        -moz-box-flex: unset !important;
        margin-right: auto !important;
        max-width: unset !important;
        -moz-box-flex: 100 !important;
        --toolbar-bgcolor: transparent !important;
        --tab-selected-bgimage: transparent !important;
    }
    .tabbrowser-tab .tab-text {
        font-weight: 600 !important;
    }
    .tabbrowser-tab .tab-close-button,
    .tabbrowser-tab .tab-background {
        display: none !important;
    }

    .tabbrowser-tab:not([visuallyselected="true"]) {
        display: none !important;
    }
}


